.app {
    display: grid;
    grid-template-columns: 19% 80%;
    width: 100%;
    height: 100vh;
}

.search_container {
    display: grid;
    grid-template-rows: 8% 92%;
    margin: 10px 10px 5px 10px;
}

.search {

}

.search_box {
    outline: 0;
    height: 42px;
    width: 223px;
    line-height: 42px;
    padding: 0 10px;
    color: #212121;
    border: 1px solid black;
    border-right: none;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
}

.search_box:focus {
    outline: 0;
    background-color: #FFF;
}

.button {
    outline: 0;
    background-color: #FFF;
    float: left;
    height: 44px;
    width: 52px;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;

}

.button:last-child {
    border-left: 1px solid black;
    border-radius: 0 4px 4px 0;
    width: 42px;
}

.button:hover {
    background-color: rgba(0, 150, 136, 0.8);
}


.results {
    overflow-y: auto;
}

.result {
    width: 100%;
    height: 20%;
    background-color: red;
    margin-top: 4px;
}


.map {
    display: grid;
    justify-content: center;
}



